
.fa-bar {
  font-size: 6.5;
  color: black;
}


.home-nav {
  border-color: #D9D9D9;
  border-width: 1;
  border-radius: 10;
}

.home-label-wrapper {
  padding-left: 10;
}

.home-label {
  font-size: 18;
  font-family: 'Poppins', 'Poppins-Regular';
  margin: 0;
}

.suffix {
  font-size: 13;
  margin-top: -10;
}
