
<ActionBar class="action-bar" title="Pokémon Type">
  
  <NavigationButton icon="font://&#xf0c9;" class="fas fa-bar" (tap)="onShow()"></NavigationButton>
  
</ActionBar>

<ScrollView>
  <GridLayout class="container" rows="70,70,70,70,70,70,70,70,70" columns="*,*">

    <FlexboxLayout
      class="nav"
      *ngFor="let item of (pokemon | async); index as i; even as isEven" 
      [ngStyle]="{
        'margin': isEven ? '0 10 0 25' : '0 25 0 10', 
        'background-color': '#' + color.default[item.name]
      }"
      [row]="isEven ? (i | evenPipe) : (i | oddPipe)" 
      [col]="isEven ? 0 : 1"  
      (tap)="navigate(item)">

      <FlexboxLayout
        class="item"
        alignItems="center"
        justifyContent="center">
        <Label
          class="label"
          [text]="item?.name"
          alignSelf="center"
          textTransform="capitalize">
        </Label>
      </FlexboxLayout>

    </FlexboxLayout>

  </GridLayout>    
</ScrollView>
