
.fa-arrow-left {
  font-size: 6.5;
  color: white;
}

.action-bar {
  background-color: #340522;
}

.scroll-line .hr { margin: 0; }
.line { padding: 13 0; }
  
.key { background-color: violet; }

.value {
  border-width: 1;
  border-top-width: 0;
  border-color: violet;
}

.layout {
  color: black;
  background-color: white;
  font-size: 19;
  font-family: 'VT323', 'VT323-Regular';
}

.head {
  border-top-right-radius: 25;
  border-top-left-radius: 25;
  padding: 20;
  height: auto;

  .text {
    color: #858585;
    font-size: 16;
    font-family: 'Roboto', 'Roboto-Medium';
  }
}

.image {
  padding-bottom: 15;

  .text {
    font-size: 23;
    font-family: 'Fira Mono', 'FiraMono-Medium';
  }
} 

.details {
  $space: 5;
  $bottom: 5;
  Label { letter-spacing: 0.15; }
  .firmness     { width: 160; margin: 0 $space $bottom 0; }
  .size         { width: 160; margin: 0 0 $bottom $space; }
  .growth_time  { width: 160; margin: 0 $space $bottom 0; }
  .max_harvest  { width: 160; margin: 0 0 $bottom $space; }
  .soil_dryness { width: 160; margin: 0 $space 0 0; }
  .smoothness   { width: 160; margin: 0 0 0 $space; }
}

.about {
  padding: 15 0 15 0;

  .inner {
    width: 330;
  }

  Label { 
    font-size: 24;
    letter-spacing: 0.15; 
  }
}

.entries {
  Label { letter-spacing: 0.15; }
  
  .effect {
    width: 330;

    &.short { margin-top: 10; }
    .key, .value { padding: 0 10 5 10; }
  }
}

.flavors {
  Label { letter-spacing: 0.15; }
  padding-top: 10;

  .flavor {
    margin: 0 5 0 0;
  }

  .box {
    background-color: #E30425;
    height: 20;
    width: 3;
    margin: 4.5 1;
  }

  .content {
    width: 330;

    .key, .value { padding: 0 10 5 10; }
  }
}

.versions {
  Label { letter-spacing: 0.15; }
  padding: 10 0 25 0;

  .content {
    width: 330;
    
    & .key, .value {
      padding: 0 10 5 10;
    }
  }
  
  .inner-content {
    margin-bottom: 5;

    & .key {
      padding: 0 10 5 10; 
      background-color: orange;
    }
    & .value {
      padding: 0 10 5 10; 
      border-color: violet;
    }
  }
}

.credits {
  padding: 15 0 15 0;

  Label { 
    font-size: 17;
    letter-spacing: 0.15; 
    font-family: 'Cairo', 'Cairo-SemiBold'; 
  }

  .app { margin-bottom: -5; }  
  .developer { margin-top: -5; }
}
