<ActionBar class="action-bar" title="Berry">
  
  <NavigationButton icon="font://&#xf060;" class="fas fa-arrow-left" (tap)="back()"></NavigationButton>
  
</ActionBar>

<GridLayout 
  class="container"
  rows="auto,auto,auto,*" columns="*">

  <FlexboxLayout
    class="head layout" 
    row="0" col="0">
    <Label class="text" text="Berry details"></Label>
  </FlexboxLayout>

  <FlexboxLayout
    class="image layout"
    row="1" col="0" 
    justifyContent="center"
    flexDirection="column">
    <Image
      width="120"
      height="120"
      decodeHeight="120"
      decodeWidth="120"
      loadMode="async"
      [src]="berry?.image">
    </Image>
    <Label
      class="text"
      [text]="berry?.name + ' Berry'"
      textAlignment="center"
      textTransform="capitalize">
    </Label>
  </FlexboxLayout>

  <FlexboxLayout
    *ngIf="isScrolled"
    class="scroll-line layout"
    row="2" col="0"
    justifyContent="center">
    <StackLayout class="hr"></StackLayout>
  </FlexboxLayout>

  <ScrollView 
    row="3" col="0"
    (scroll)="onScroll($event)">
    <GridLayout rows="auto,auto,auto,auto,auto,auto" columns="*">
      
      <FlexboxLayout
        class="details layout"
        row="0" col="0"
        flexWrap="wrap"
        justifyContent="center"
        flexDirection="row">

        <FlexboxLayout
          class="firmness"
          flexDirection="column">
          <FlexboxLayout
            class="key"
            justifyContent="center">
            <Label text="Firmness"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.firmness" textTransform="capitalize"></Label>
          </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout
          class="size"
          flexDirection="column">
          <FlexboxLayout 
            class="key"
            justifyContent="center">
            <Label text="Size"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.size + ' cm'"></Label>
          </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout
          class="growth_time"
          flexWrapBefore="true"
          flexDirection="column">
          <FlexboxLayout 
            class="key"
            justifyContent="center">
            <Label text="Growth time"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.growth_time + (berry?.growth_time > 1 ? ' hrs' : ' hr')"></Label>
          </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout
          class="max_harvest"
          flexDirection="column">
          <FlexboxLayout 
            class="key"
            justifyContent="center">
            <Label text="Max harvest"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.max_harvest + (berry?.max_harvest > 1 ? ' pcs' : ' pc')"></Label>
          </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout
          class="soil_dryness"
          flexWrapBefore="true"
          flexDirection="column">
          <FlexboxLayout 
            class="key"
            justifyContent="center">
            <Label text="Soil dryness"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.soil_dryness + '%'"></Label>
          </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout
          class="smoothness"
          flexDirection="column">
          <FlexboxLayout
            class="key"
            justifyContent="center">
            <Label text="Smoothness"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            justifyContent="center">
            <Label [text]="berry?.smoothness + '%'"></Label>
          </FlexboxLayout>
        </FlexboxLayout>
        
      </FlexboxLayout>
      
      <FlexboxLayout
        class="about layout"
        justifyContent="center"
        row="1" col="0">
        <FlexboxLayout
          class="inner"
          justifyContent="flex-start">
          <Label text="Summary"></Label>
        </FlexboxLayout>
      </FlexboxLayout>

      <FlexboxLayout
        class="entries layout"
        row="2" col="0"
        justifyContent="center"
        flexWrap="wrap"
        flexDirection="row">
        
        <FlexboxLayout
          class="effect"
          flexDirection="column">
          <FlexboxLayout
            class="key">
            <Label 
              text="Effect">
            </Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value">
            <Label 
              [text]="(berry?.item | async)?.effect_entries?.effect"
              textAlignment="left"
              textWrap="true">
            </Label>
          </FlexboxLayout>
        </FlexboxLayout>
        
        <FlexboxLayout
          class="effect short"
          flexWrapBefore="true"
          flexDirection="column">
          <FlexboxLayout
            class="key">
            <Label 
              text="Short effect">
            </Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value">
            <Label 
              [text]="(berry?.item | async)?.effect_entries?.short_effect"
              textAlignment="left"
              textWrap="true">
            </Label>
          </FlexboxLayout>
        </FlexboxLayout>

      </FlexboxLayout>

      <FlexboxLayout
        class="flavors layout"
        justifyContent="center"
        flexDirection="row"
        row="3" col="0">
        
        <FlexboxLayout
          class="content"
          flexDirection="column">
          <FlexboxLayout
            class="key">
            <Label text="Flavors"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value">
            <FlexboxLayout flexDirection="column">
              <Label 
                *ngFor="let item of berry?.flavors" class="flavor" [text]="item?.name + ':'"></Label>
            </FlexboxLayout>
            <FlexboxLayout flexDirection="column">
              <FlexboxLayout
                *ngFor="let item of berry?.flavors">
                <Label *ngFor="let square of item.potency" class="box" text=""></Label>
              </FlexboxLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </FlexboxLayout>

      </FlexboxLayout>

      <FlexboxLayout
        class="versions layout"
        justifyContent="center"
        flexDirection="row"
        row="4" col="0">
        
        <FlexboxLayout
          class="content"
          flexDirection="column">
          <FlexboxLayout
            class="key">
            <Label text="Flavor entries"></Label>
          </FlexboxLayout>
          <FlexboxLayout 
            class="value"
            flexDirection="column">

              <FlexboxLayout
                *ngFor="let entry of (berry?.item | async)?.flavor_text_entries; first as isFirst" 
                [ngStyle]="{ 'margin-top': isFirst ? '10' : 0 }"
                class="inner-content"
                flexDirection="column">
                <FlexboxLayout
                  class="key">
                  <Label textWrap="true" [text]="entry?.version"></Label>
                </FlexboxLayout>
                <FlexboxLayout 
                  class="value">
                  <Label textWrap="true" [text]="entry?.text"></Label>
                </FlexboxLayout>
              </FlexboxLayout>

          </FlexboxLayout>
        </FlexboxLayout>

      </FlexboxLayout>

      <FlexboxLayout
        class="credits layout"
        alignItems="center"
        flexDirection="column"
        row="5" col="0">
        <Label ngClass]="{ bo: isBorder }" 
          class="app"
          text="Pokédex Little"></Label>
        <Label ngClass]="{ bo: isBorder }"
          class="developer" 
          text="by ElecTreeFrying"></Label>
      </FlexboxLayout>

    </GridLayout>
  </ScrollView>

</GridLayout>



