
<ActionBar class="action-bar" [title]="pokemon?.name + ' Pokédex'" (loaded)="onActionBarLoaded($event)">
  
  <NavigationButton icon="font://&#xf060;" class="fas fa-arrow-left" (tap)="router.back()"></NavigationButton>
  
  <ActionItem 
    *ngIf="isShowActionItem"
    text="More details" 
    android.position="popup"
    (tap)="moreDetails(pokemon?.description)"></ActionItem>

</ActionBar>
  
<ScrollView (scroll)="onScroll($event)">
  <GridLayout class="container" rows="*,auto" columns="*">

    <FlexboxLayout row="0" col="0" flexDirection="column">
      <MDRipple 
        rippleColor="#FFFFFF"
        class="nav"
        *ngFor="let item of pokemon?.pokemon_entries; first as isFirst; last as isLast"
        [ngStyle]="{ 'margin': isFirst ? '20 20 4 20' : isLast ? '4 20 20 20' : '4 20 4 20' }"
        (tap)="toPokemon(item)">
        <FlexboxLayout flexDirection="row">
          <Label 
            class="label number"
            [text]="'#'+ item?.entry_number + ' '" 
            textTransform="capitalize"></Label>
          <Label 
            class="label name"
            [text]="item?.name" 
            textTransform="capitalize"></Label>
          <Label text="" flexGrow="1"></Label>
          <Image
            class="image" horizontalAlignment="right"
            decodeHeight="70"
            decodeWidth="70"
            width="70"
            height="70"
            isLoaded="false"
            isLoading="false"
            loadMode="async"
            [src]="item?.image">
          </Image>
        </FlexboxLayout>
      </MDRipple>
    </FlexboxLayout>

    <FlexboxLayout class="indicator" row="1", col="0" justifyContent="center" *ngIf="isLoading">
      <ActivityIndicator busy="true" width="50" height="50"></ActivityIndicator>
    </FlexboxLayout>

  </GridLayout>
</ScrollView>
