
.dw-title {
  font-size: 30;
  font-family: 'Oxygen', 'Oxygen-Regular';
  vertical-align: middle;
  margin: 20 0 10 13;
}

.dw-nav {
  font-size: 20;
  font-family: 'Rubik', 'Rubik-Regular';
}

.dw-bottom {
  font-size: 14;
  font-weight: 300;
  margin: 0 13 13 13;
}