
<ActionBar class="action-bar" [title]="generation?.name + ' - Pokémon'">
  
  <NavigationButton icon="font://&#xf060;" class="fas fa-arrow-left" (tap)="router.back()"></NavigationButton>
  
</ActionBar>

<ScrollView (scroll)="onScroll($event)">
  <GridLayout class="container" rows="*" columns="*">

    <FlexboxLayout row="0" col="0" flexDirection="column">
      <MDRipple 
        rippleColor="#FFFFFF"
        class="nav"
        *ngFor="let item of generation?.pokemon_species; first as isFirst; last as isLast"
        [ngStyle]="{ 'margin': isFirst ? '20 20 4 20' : isLast ? '4 20 20 20' : '4 20 4 20' }"
        (tap)="toPokemon(item)">
        <FlexboxLayout flexDirection="row">
          <Label 
            class="label number"
            [text]="'#'+ item?.entry_number + ' '" 
            textTransform="capitalize"></Label>
          <Label 
            class="label name"
            [text]="item?.name" 
            textTransform="capitalize"></Label>
          <Label text="" flexGrow="1"></Label>
          <Image
            class="image" horizontalAlignment="right"
            decodeHeight="70"
            decodeWidth="70"
            width="70"
            height="70"
            isLoaded="false"
            isLoading="false"
            loadMode="async"
            [src]="item?.image">
          </Image>
        </FlexboxLayout>
      </MDRipple>
    </FlexboxLayout>

  </GridLayout>
</ScrollView>
