
.nav {
  border-radius: 7;
  background-color: #4E1338;

  .label {
    font-size: 18;
    font-family: 'Poppins', 'Poppins-Regular';
    margin-top: 7.5;

    &.number {
      margin-left: 12.5;
    }
  }
  
  .image {
    margin: 0 10 0 0;
  }
}
