
// components

.action-bar {
  background-color: #340522;
}

// global

.fa-long-arrow-alt-right { color: black; }

.fas.fa-angle-down,
.fas.fa-angle-up {
  transform: translateY(2);
}

.scroll-line .hr { margin: 0; }

.key { 
  padding: 0 10 5 10;
  background-color: violet; 
}

.value {
  padding: 0 10 5 10;
  border-width: 1;
  border-top-width: 0;
  border-color: violet;
}

.layout {
  color: black;
  background-color: white;
  font-size: 19;
  font-family: 'VT323', 'VT323-Regular';
}

Label { letter-spacing: 0.05; }

// styles

.head {
  border-top-right-radius: 25;
  border-top-left-radius: 25;
  padding: 20;
  height: auto;
  
  .text {
    color: #858585;
    font-size: 16;
    font-family: 'Roboto', 'Roboto-Medium';
  }
}

.preview {
  width: 330;

  .number {
    width: 160;
  }
  
  .number .index {
    font-size: 23;
    Label { letter-spacing: 0.15; }
  }
  
  .number .name {
    font-size: 30;
    margin-top: -10;
    Label { letter-spacing: 0.15; }
  }

  .number .genera {
    // font-size: 30;
    margin-top: -10;
    Label { letter-spacing: 0.15; }
  }

  .number .types {
    margin-top: 10;

    .type {
      border-radius: 50%;
      padding: 0 10 5 10;
      margin-right: 10;
    }
  }
  
  .number .abilities .ability {
    padding: 0 10 0 0;
  }
}

.details {
  width: 330;

  // global
  
  .spec {

    .key { background-color: orange; }
    .value { border-color: orange; }

    .box {
      width: 150;
      margin-bottom: 10;
    }
  }

  // elements

  .description {
    margin-bottom: 15;
  }
  
  .abilities {
    margin-bottom: 15;
    
    .inner-content {
      margin-bottom: 10;
    }
  }

  .pokemon-details {
    margin-bottom: 15;
  }
  
  .evolution {
    margin-bottom: 15;

    .arrow {
      margin: 0 10
    }
  }

  .egg-details {
    margin-bottom: 15;
  }
  
  .text-entries {
    margin-bottom: 15;
    
    .inner-content {
      margin-bottom: 10;
    }
  } 
  
  .pokedex-numbers {
    margin-bottom: 15;

    .inner-content {
      margin-bottom: 10;

      .key, .value {
        width: 150;
      }
    }
  }

  .moves {
    margin-bottom: 15;

    .value {
      padding: 10 10 5 10;
    }

    .move {
      border-radius: 50%;
      padding: 0 10 5 10;
      margin-right: 10;
      margin: 5 10 5 0;
    }
  }

  .credits {
    margin-top: 10;
    padding: 15 0 15 0;
  
    Label { 
      font-size: 17;
      letter-spacing: 0.15; 
      font-family: 'Cairo', 'Cairo-SemiBold'; 
    }
  
    .app { margin-bottom: -5; }  
    .developer { margin-top: -5; }
  }
}

// development

.bo, .bb {
  border-width: 1;
  border-color: red;
}
