
<ActionBar title="Pokédex">
  
  <NavigationButton icon="font://&#xf0c9;" class="fas fa-bar" (tap)="onShow()"></NavigationButton>
  
</ActionBar>
  
<GridLayout class="home-grid" rows="70,70,70,70,70,70,70,70" columns="*,*">
  <Button 
    class="home-button"
    *ngFor="let item of (pokedex | async); let i = index; let even = even" 
    [row]="even ? (i | evenPipe) : (i | oddPipe)" 
    [col]="even ? 0 : 1"  
    [text]="item?.name"
    (tap)="navigate(item)"
    [ngStyle]="{'margin': even ? '0 10 0 25' : '0 25 0 10'}"
    ></Button>
</GridLayout>

