
<ActionBar class="action-bar" title="Pokédex">
  
  <NavigationButton icon="font://&#xf0c9;" class="fas fa-bar" (tap)="onShow()"></NavigationButton>
  
</ActionBar>

<ScrollView>
  <GridLayout class="container" rows="70,70,70,70,70,70,70,70" columns="*,*">
    <Button 
      class="button"
      *ngFor="let item of (pokedex | async); index as i; even as isEven" 
      [row]="isEven ? (i | evenPipe) : (i | oddPipe)" 
      [col]="isEven ? 0 : 1"  
      [text]="item?.name"
      (tap)="navigate(item)"
      [ngStyle]="{'margin': isEven ? '0 10 0 25' : '0 25 0 10'}"
      ></Button>
  </GridLayout>
</ScrollView>
